div{
    border: 2px solid gray;
    border-radius: 12px;
    width: 20%;
    height: 30%;
    margin-left: 40%;
    margin-top: 15%;
    background-color: gray;
}
input, button{
    display: inline-block;
    padding: 10px;
}
#subtract{
    width: 80px;
    color: black;
    font-size: 20px;
    background-color: gray;
    border: none;
}
#add{
    width: 80px;
    color: black;
    font-size: 20px;
    background-color: gray;
    border: none;
}
input{
    width: 80px;
    color: black;
    font-size: 20px;
    background-color: azure;
    border: none;
}